button {
	margin-bottom: 20px;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

.main-div, .loggedin-div {
  width: 20%;
  margin: 0px auto;
  margin-top: 150px;
  padding: 20px;
  display: none;
}

.main-div input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button, .loggedin-div button {
  background: #5d8ffc;
  color: #fff;
  border: 1px solid #5d8ffc;
  border-radius: 5px;
  padding: 15px;
  display: block;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
}

.main-div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #5d8ffc;
  border: 1px solid #5d8ffc;
  cursor: pointer;
}

.error-msg {
	font-family: 'Nunito', sans-serif;
	color: red;
	display: none;
}

#dashboardPage {
	position: relative;
	height: 100%;
	width: 100%;
}

#header {
	position: absolute;
	height:10%;
	width:100%;
	top:0%;
	text-align: center;
	font-family: Arial;
	background-color:#eee;
}

#nav-bar {
	position: absolute;
	top: 0;
	right: 0;
}

#main-content {
	position: relative;
	top:10%;
	height:90%;
}

#videoDiv {
	position: absolute;
	top: 0%;
	right: 50%;
	bottom: 50%;
	left: 0%;
	border: 15px solid #777;
}

#mapDiv {
	position: absolute;
	top: 50%;
	right: 50%;
	bottom: 0%;
	left: 0%;
	border: 15px solid #555;
}

#statsDiv {
	font-family: Arial;
	position: absolute;
	top: 0%;
	right: 0%;
	bottom: 50%;
	left: 50%;
	border: 15px solid #ddd;
}

#stats-header {
	text-align: center;
	top:25%;
}

#stats {

	height:100%;
	width:100%
	position: absolute;
	text-align: center;
}

#plotDiv {
	position: absolute;
	top: 50%;
	right: 0%;
	bottom: 0%;
	left: 50%;
	border: 15px solid #aaa;
}